@model Test_project.Models.Users;

@{
    ViewData["Title"] = "UpdateUser1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-white text-center fw-bold text-decoration-underline link-underline-info">Update User</h1>

<hr />
<div class="row">
    <div class="col-md-4 text-white">
        <form asp-action="UpdateUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" readonly type="hidden"/> 
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailId" class="control-label"></label>
                <input asp-for="EmailId" class="form-control" />
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNo" class="control-label"></label>
                <input asp-for="MobileNo" class="form-control" />
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Gender</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Gender" value="Male">
                    <label class="form-check-label">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Gender" value="Female">
                    <label class="form-check-label">
                        Female
                    </label>
                </div>

                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">State</label>
                <Select asp-for="State" class="form-select" asp-items="ViewBag.States">
                    <option disabled value="">--Select State--</option>
                </Select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hobbies" class="control-label"></label>
                <input asp-for="Hobbies" class="form-control" />
                <span asp-validation-for="Hobbies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="UserList">Back to List</a>
</div>

